.container{
	text-align: center;
	width:50%;
	margin:0 auto;
}

.routes {
	border-collapse: collapse;
	min-width:30em;
	width: 100%;
}

.routes td{
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	
}
.routes th{
	padding-left: 0.7em;
	padding-right: 0.7em;
}
.routes tbody tr:nth-of-type(2n){
	background-color: #ffb;
}
.routes thead tr:last-child{
	border-bottom: 1px solid black;
}
.routes .end {
	text-align: right;
}
.routes .start {
	text-align: right;
}
.routes .number {
	font-weight: bold;
}
